
.fixed {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }
  
  .show {
    transform: translateY(0%);
  }
  
.textstructure {
  padding-left: 80px;
  color: #ffffff;
}


.masker {
  overflow: hidden;
}

.heading{
  font-size: 9vw;
  margin-bottom: -1vw;
  padding-top: 2vw;
}

.box{
  margin-right: 1vw;
  width: 8vw;
  height: 5.7vw;
  top: 1vw;
}
.image-section img {
  display: flex;
  margin-top: 80px;
  margin-left: 200px;
  width: 640px;
  height: 594px;
}

.three-text{
  padding-left: 80px;
}
.start a{
  margin-right: 80px;
  font-size: 14px;
}
@media (max-width: 540px) {
  .textstructure {
    margin-top: 2rem;
    padding-left: 20px;
    padding-right: 1rem;
  }
  .start a{
    margin-right: 20px;
    font-size: 14px;
  }
  .three-text{
    padding-left: 20px;
  }
  .heading{
    font-size: 50px;
    margin-bottom: -2vw;
    padding-top: 4vw;
  }
  .box{
    width: 8vw;
    height: 7.7vw;
    top: 2.6vw;
  }
  .image-section img {
    display: flex;
    margin-left: 0px;
    width: 640px;
    height: 190px;
    margin-top: 202px;
    margin-bottom: 50px;
  }


  .start {
    flex-direction: column;
    gap: 1rem;
  }

}


@media (min-width: 541px) and (max-width: 767px) {
  .textstructure {
      margin-top: 1.5rem;
      padding-left: 40px;
      padding-right: 1rem;
  }
  .start a {
      margin-right: 40px;
      font-size: 14px;
  }
  .three-text {
      padding-left: 40px;
  }
  .heading {
      font-size: 7vw;
      margin-bottom: -1.5vw;
      padding-top: 3vw;
  }
  .box {
      width: 8vw;
      height: 6.7vw;
      top: 2vw;
  }
  .image-section img {
      display: flex;
      margin-left: 10px;
      width: 420px;
      height: 320px;
      margin-top: 150px;
      margin-bottom: 50px;
  }
  .start {
      flex-direction: column;
      gap: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .textstructure {
      margin-top: 1rem;
      padding-left: 60px;
      padding-right: 1rem;
  }
  .start a {
      margin-right: 60px;
      font-size: 14px;
  }
  .three-text {
      padding-left: 60px;
  }
  .heading {
      font-size: 8vw;
      margin-bottom: -1.2vw;
      padding-top: 2.5vw;
  }
  .box {
      width: 8vw;
      height: 6.2vw;
      top: 1.5vw;
  }
  .image-section img {
      display: flex;
      margin-left: 10vw;
      width: 480px;
      height: 370px;
      margin-top: 120px;
      margin-bottom: 50px;
  }
  .start {
      flex-direction: column;
      gap: 1rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .textstructure {
      margin-top: 1rem;
      padding-left: 70px;
      padding-right: 1rem;
  }
  .start a {
      margin-right: 70px;
      font-size: 14px;
  }
  .three-text {
      padding-left: 70px;
  }
  .heading {
      font-size: 7.5vw;
      margin-bottom: -1vw;
      padding-top: 2vw;
  }
  .box {
      width: 8vw;
      height: 6vw;
      top: 1vw;
  }
  .image-section img {
      display: flex;
      margin-left: 20vw;
      width: 540px;
      height: 400px;
      margin-top: 100px;
      margin-bottom: 50px;}
      .start {
        flex-direction: column;
        gap: 1rem;
    }
  }