@font-face {
    font-family: 'Founders';
    src: url('/fonts/FoundersGroteskXCond-Lt.otf') format('opentype');
    
  }
  
@font-face { 
    font-family: 'Founder';
    src: url('/fonts/FoundersGroteskXCond-Bold.otf') format('opentype');
  }

  .fixed {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }
  
  .show {
    transform: translateY(0%);
  }
  