* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}



.bord{
    padding-left: 80px;
  padding-bottom: 80px;
}
.logos {
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow: hidden;
    white-space: nowrap; /* Ensure logos are displayed in a single line */
    padding: 90px 0;
    /* background: rgb(24 24 27); */
    background: #135950 ;
    display: flex; /* Ensure logos-slide containers are displayed in a row */
}

.logos-slide {
    display: flex; /* Ensure logos inside logos-slide are displayed in a row */
    padding-right: 100px; /* Add padding to the right to create space between batches */
    animation: slide 40s infinite linear;
}

.logos-slide img {
    height: 90px;
    margin: 0 80px; /* Adjust spacing between logos */
}

.logos::after,
.logos::before {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

/* .logos::before {
    left: 0;
    background: linear-gradient(to left, rgb(24 24 27), rgb(24 24 27));
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgb(24 24 27), rgb(24 24 27));
} */

.logos:hover .logos-slide {
    animation-play-state: paused;
}


/* Responsive styles */
@media (max-width: 500px) {
    .bord{
        padding-left: 8vw;
      }
    .bord h1{
        margin: 0px;
        font-size: 3rem;
      }
    .logos {
        margin-bottom: 0px;
        padding-top: 65px;
        padding-bottom: 0px;
         /* Adjust padding for smaller screens */
    }

    .logos-slide {
        padding-right: 50px; /* Adjust padding to the right for smaller screens */
    }

    .logos-slide img {
        height: 55px; /* Adjust image height for smaller screens */
        margin: 0 35px; /* Adjust spacing between logos */
    }

    .logos::after,
    .logos::before {
        width: 125px; /* Adjust gradient width for smaller screens */
    }
}
