@media (max-width:500px) {
    #welcome{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15vw;
        margin-left: 4vw;
    }
    #title-1{
        font-size: 9vw;
        margin-top: 10vw;
    }
    #title-2{
        font-size: 10vw;
        margin-top: 10vw;
    }
    #title-3{
        font-size: 10vw;
        margin-top: 10vw;
    }
    #title-4{
        font-size: 10vw;
        margin-top: 10vw;
    }
}