@tailwind base;
@tailwind components;
@tailwind utilities;


.social a{
  position: relative;
  text-decoration: none; /* Remove default underline */
  color: inherit;
}

.social a::before {
    content: "";
    position: absolute;
    bottom: 12px; /* Adjust as needed */
    left: 10;
    width: 65px;
    height: 2px; /* Adjust thickness as needed */
    background-image: linear-gradient(to left, #CDEA66 50%, rgb(24 24 27) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background-position 0.5s ease; /* Transition for smooth effect */
  }

  .social a.linked::before {
    width: 53px;
  }
  .social a.git::before {
    width: 42px;
  }





  .social a:hover::before {
    background-position: right bottom;
  }


  .social1 a{
    position: relative;
    text-decoration: none; /* Remove default underline */
    color: inherit;
  }
  
  .social1 a::before {
    content: "";
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 10;
    width: 140px;
    height: 2px; /* Adjust thickness as needed */
    background-image: linear-gradient(to left, #CDEA66 50%, rgb(24 24 27) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background-position 0.7s ease; /* Transition for smooth effect */
  }
  

  .social1 a:hover::before {
    background-position: right bottom;
  }
  .social2 a{
    position: relative;
    text-decoration: none; /* Remove default underline */
    color: inherit;
  }
  
  .social2 a::before {
    content: "";
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 10;
    width: 108px;
    height: 2px; /* Adjust thickness as needed */
    background-image: linear-gradient(to left, #CDEA66 50%, rgb(24 24 27) 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: background-position 0.7s ease; /* Transition for smooth effect */
  }
  

  .social2 a:hover::before {
    background-position: right bottom;
  }

  .container {
    /* display: flex;
    flex-wrap: wrap; */
    padding: 70px;
  }
  
  .image{
    /* position: absolute; */
    /* border: 2px solid white; */
    /* margin-bottom: 30px; */
    /* padding: 10px;
    top: 20px;
    bottom: 20px;
    width: 100px;
    height: 100px; */
    
  }

/* html{
  scroll-behavior: smooth;
} */
